@import '../style/variables.scss';
@import '../style/mixins.scss';

.works {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    &__wrapper {
        margin-bottom: 60px;
        display: grid;
        grid-template: repeat(2, 250px) / repeat(3, 355px);
        grid-auto-rows: 250px;
        gap: 30px;
    }
    &__item {
        border-radius: 10px;
        z-index: 1;
        width: 355px;
        height: 250px;
        position: relative;
        border: 1px solid $main-color;
        perspective: 1000px;
        box-shadow: 10px 10px 2px 1px grey;
        &_back {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 1s;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            background: linear-gradient(
      rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em) 0 0, linear-gradient(90deg,rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em) 0 0;
            background-size: 1em 1em;
            background-color: ivory;
            border-radius: 10px;
        }
        &_front {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 1s;
            backface-visibility: hidden;
            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                //object-fit: cover;
            }
        }
        &_descr {
            position: absolute;
            width: 355px;
            text-align: center;
            top: 100px;
            left: 0;
            font-size: 18px;
        }
        &_github {
            position: absolute;
            top: 200px;
            left: 20px;
            color: $main-color;
            font-size: 25px;
        }
        &_site {
            font-size: 25px;
            position: absolute;
            top: 200px;
            left: 285px;
            color: $main-color;
        }
    }
}

.works__item:hover .works__item_front {
    transform: rotateY(180deg);
}
.works__item:hover .works__item_back {
    transform: rotateY(360deg);
}

@media (max-width: 1250px) {
    .works {
        &__wrapper {
            grid-template: repeat(2, 250px) / repeat(2, 355px);
        }
    }
}

@media (max-width: 850px) {
    .works {
        &__wrapper {
            grid-template: repeat(2, 250px) / repeat(1, 355px);
        }
    }
}